body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 900;
    background-color: #fff;
    color: #fff;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    width: min-content;
    margin-bottom: 22px;
}

#guess-input {
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #808080;
    padding: 7px;
}

#submit-guess {
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #808080;
    padding: 7px;
    color: black;
    font-weight: 900;
}